# Copy this file to .env and fill in your values.

CLUSTER_NAME=<your-ecs-cluster-name>
CORALOGIX_REGION=EU1
CORALOGIX_API_KEY=<your-send-your-data-api-key>
S3_BUCKET=<your-s3-bucket-name>
EBPF_PROFILER_IMAGE_VERSION=v0.5.8
SUPERVISED_IMAGE_VERSION=v0.0.1

# Optional overrides
AWS_REGION=eu-north-1
STACK_NAME=ebpf-profiler-test
S3_CONFIG_KEY=configs/ebpf-profiler-config.yaml
S3_SUPERVISOR_CONFIG_KEY=configs/ebpf-profiler-supervisor-config.yaml
SERVICE_NAME=coralogix-ebpf-profiler
# PROFILER_IMAGE_MODE can be `collector` or `supervised`
PROFILER_IMAGE_MODE=collector
EBPF_PROFILER_IMAGE_REPOSITORY=coralogixrepo/coralogix-otel-collector
SUPERVISED_IMAGE_REPOSITORY=cgx.jfrog.io/coralogix-docker-images/coralogix-otel-supervised-cdot
ECS_INSTANCE_PROFILE=ecsInstanceRole
EC2_INSTANCE_TYPE=t3.micro
# ECS_EC2_AMI_SSM_PARAM=/aws/service/ecs/optimized-ami/amazon-linux-2023/recommended/image_id
# ECS_EC2_AMI_ID=ami-xxxxxxxxxxxxxxxxx
# EC2_SUBNET_ID=subnet-xxxxxxxxxxxxxxxxx
# EC2_SECURITY_GROUP_ID=sg-xxxxxxxxxxxxxxxxx
# EC2_KEY_NAME=your-keypair-name
